<html lang = "en-us">
    <head>
        <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <center>
            <body>
                <div id="header-padding"></div>
                <h1>HOOZAT?</h1>
                <h2>How well do you know your Tweeps?</h2>
                <div id="header-padding"></div>
                <a href="auth/twitter">
                    <div class="button"><p class="button-text">Sign in with Twitter</p></div>
                </a>
            </body>
        </center>
    </head>
</html>