/* 
    Color Scheme
    Red: #95303d
    White: #ffffff
    Light Tan: #e5e1d0 
    Medium Blue: #52616e
    Dark Blue: #2c343b
    http://i.imgur.com/wigCInB.png
*/

body{
    margin:0;
    background-color:#e5e1d0;
}

h1{
    font-family: 'Open Sans', sans-serif;
    color:#e6e1d1;
    text-shadow: 6px 6px #52616e;
    font-size:650%;
    position:absolute;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
}



#header {
    width:100%;
    height:252px;
    margin-left: 0;
    padding-left: 0;
    background-color:#2c343b;
    z-index:2;
}

#tweetbar {
    width:100%;
    height:106px; 
    background-color:#ffffff;
    z-index:1;
    
}

#whothat {
    width:100%;
    height:26px;
    margin-left: 0;
    padding-left: 0;
}

#left {
    float:left;
    width:400px;
    height:600px;
}

#right {
    float:right;
    width:400px;
    height:600px;
}

#quotes {
    position:absolute;
    TOP:265px; 
    left:0;
    right:0;    
    margin-left:auto;
    margin-right:auto;
}

#who {
    color:#52616e;
    font-family:"Verdana";
    font-size:200%;
    position:absolute;
    top:335px; 
    left:0;
    right:0;    
    margin-left:auto;
    margin-right:auto;
    
}

#tweet {
    color:#52616e;
    font-family:"Verdana";
    font-size:150%;
    position:absolute;
    top:240px; 
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
}

#container {
    width:800px;
    margin:auto;
    
}

#scoreboard {
    position:absolute;
    top:800px;
    height:350px;
    width:100%;
    background-color:#52616e;
}

#scorebox {
    float:left;
    width:50%;
}

#bestbox {
    float:right;
    width:50%;
    
}

.pro {
    height:72px;
    width: 350px;
    margin-top:45px;
    margin-left:auto;
    margin-right:auto;
    background-color: rgba(0, 255, 36, 0);
}



.fleft {
    float:left;
}

.fright {
    float:right;
}

.name {
    font-family:"Verdana";
    margin:10px;
    color:#2c343b;
    font-size:20px;
}

.handle {
    margin:10px;
    color:#52616e;
    font-size:17px;
    clear:both;
}

.tophalf {
    height:36px;
    width:278px;
    margin-top:0;
}

.bottomhalf {
    height:36px;
    width:278px;
    margin-bottom:0;
}

.score {
    text-shadow: 3px 3px #2c343b;
    font-family:'Open Sans', sans-serif;
    font-weight:bold;
    margin-top:10px;
    font-size:40px;
    color:#ffffff;
}