/* 
    Color Scheme
    grey-white:#ecf0f1
    background blue:#3498db
    pink #E412A8
    midnight blue: #2c3e50


*/

body {
    margin:0;
    background-color:#3498db;
}

h1 {
    margin:0px;
    margin-bottom:10px;
    font-size:450%;
    font-family:'Lato',sans-serif;
    font-weight: 300;
    color:rgba(250, 250, 250, 0.82);
}

h2 {
    margin:0px;
    margin-bottom:10px;
    font-size:150%;
    font-family:'Lato',sans-serif;
    font-weight: 300;
    color:rgba(250, 250, 250, 0.82);
}

#header-padding {
    height:100px;
}

#header {
    z-index:2;
    width:100%;
}

#content-box {
    min-width:400px;
    max-width:600px;
    height:auto;
    margin-left:10px;
    margin-right:10px;
    background-color:rgba(250, 250, 250, 0.62);
    -webkit-box-shadow: 0px 0px 61px -19px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 61px -19px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 61px -19px rgba(0,0,0,0.75);
}

#tweet-bar {
    padding:20px;
    padding-bottom:30px;
}

#tweet-bar > p {
    color:#2c343b;
    font-family:'Lato',sans-serif;
    font-weight: 300;
    font-size:130%;
    margin:0;
}

.left {
    float:left;
}

.right {
    float:right;
}

.inner-container {
    width:50%;
    overflow:hidden;
}

.profile {
    height:72px;
    width:100%;
    padding:10px;
    padding-bottom:5px;
    padding-top:5px;
    width:calc(100% - 20px);
}

.last-profile {
    padding-bottom:10px;
}

.profile:hover {
    background-color:rgba(0, 0, 0, 0.05);
}

.name-container {
    overflow:hidden;
    width: calc(100% - 73px);
}

.name {
    margin:0;
    padding:5px;
    padding-bottom:0;
    font-family:'Lato',sans-serif;
    font-weight: 400;
    font-size:110%;
    color:#2c343b;
}

.handle {
    clear:both;
    margin:0;
    padding:5px;
    padding-top:0;
    font-family:'Lato',sans-serif;
    font-weight: 300;
    font-size:100%;
    color:#52616e;
}

.score {
    margin-top:10px;
    color:#ffffff;
    font-size:40px;
    text-shadow:3px 3px #2c343b;
    font-family:'Lato',sans-serif;
    font-weight: 300;
    font-weight:bold;
}

#scoreboard {
    position:absolute;
    bottom:20px;
    height:80px;
    width:100%;
    background-color:#52616e;
}

#scorebox {
    float:left;
    width:50%;
}

#bestbox {
    float:right;
    width:50%;
}

.end {
    clear:both;
}

.button {
    position: relative;
    vertical-align: middle;
    width: 300px;
    height: 60px;
    padding: 0;
    font-family:'Lato',sans-serif;
    font-size: 22px;
    background: #bdc3c7;
    border: 0;
    border-bottom: 2px solid #acb2b7;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px #acb2b7;
    box-shadow: inset 0 -2px #acb2b7;
}

.button:active {
    top: 1px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.button-text {
    position: relative;
    top: 15px;
    margin: 0px;
    display: inline-block;
    color:white;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    text-decoration: none;
}

.rounded {
    border-radius:4px;
    -moz-border-radius:4px;
    -khtml-border-radius:4px;
    -webkit-border-radius:4px;
}

.green {
    background-color:rgba(46, 204, 113, 1) !important;
}

.red {
    background-color:rgba(231, 76, 60, 1) !important;
}

.score {
    display: none;
}
