/* 
    Color Scheme
    Red: #95303d
    White: #ffffff
    Light Tan: #e5e1d0 
    Medium Blue: #52616e
    Dark Blue: #2c343b
    http://i.imgur.com/wigCInB.png
*/

body {
    margin:0;
    background-color:#e5e1d0;
}

h1 {
    margin:0;
    font-size:450%;
    font-family:"Proxima Nova";
    color:#e6e1d1;
    text-shadow:6px 6px #52616e;
}

#header {
    z-index:2;
    width:100%;
    background-color:#2c343b;
}

#who-bar {
    width:100%;
    margin-top:10px;
    margin-bottom:5px;
}

#who-bar > p {
    color:#52616e;
    font-family:"Proxima Nova";
    font-size:150%;
    margin:0px
}

#tweet-bar {
    width:100%;
    background-color:#ffffff;
    z-index:1;
}

#tweet-bar > p {
    color:#52616e;
    font-family:"Proxima Nova";
    font-size:150%;
    margin:0;
    border:10px solid white;
}

#container {
    min-width:400px;
    max-width:600px;
    height:auto;
}

.left {
    float:left;
}

.right {
    float:right;
}

.inner-container {
    width:50%;
    overflow: hidden;
}

.profile {
    height:72px;
    width:100%;
    padding-top:10px;
    padding-bottom:10px;
}

.profile:hover {
    background-color:rgba(0, 0, 0, 0.05);
}

.avi-left {
    float:left;
    padding-left:10px;
    padding-right:5px;
}

.avi-right {
    float:right;
    padding-left:5px;
    padding-right:10px;
}

.name-container {
    overflow:hidden;
    width: calc(100% - 88px);
}

.name {
    margin:0;
    padding:5px;
    padding-bottom:0;
    font-family:"Proxima Nova";
    color:#2c343b;
    font-size:20px;
}

.handle {
    clear:both;
    margin:0;
    padding:5px;
    padding-top:0;
    font-family:"Proxima Nova";
    color:#52616e;
    font-size:17px;
}

.score {
    margin-top:10px;
    color:#ffffff;
    font-size:40px;
    text-shadow:3px 3px #2c343b;
    font-family:'Proxima Nova', sans-serif;
    font-weight:bold;
}

#scoreboard {
    position:absolute;
    bottom:20px;
    height:80px;
    width:100%;
    background-color:#52616e;
}

#scorebox {
    float:left;
    width:50%;
}

#bestbox {
    float:right;
    width:50%;
}

#footer {
    position:absolute;
    bottom:0px;
    height:20px;
    width:100%;
    background-color:#2c343b;
}